<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for AutoProperties.Tests" Description="Code analysis rules for AutoProperties.Tests" ToolsVersion="15.0">
  <Include Path="managedminimumrules.ruleset" Action="Default" />
  <Rules AnalyzerId="ContracsReSharperInterop" RuleNamespace="ContracsReSharperInterop">
    <Rule Id="CCRSI_ContractForNotNull" Action="None" />
    <Rule Id="CCRSI_CreateContractClass" Action="None" />
    <Rule Id="CCRSI_CreateContractInvariantMethod" Action="None" />
  </Rules>
</RuleSet>